
{% extends 'back/base.html' %}

{% block title %}
    富文本编辑框
{% endblock%}


{% block js %}
    {{ super() }}
    {#    使用jinjia导入两个js#}
    <script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tinymce/tinymce_setup.js') }}"></script>

{% endblock %}

{% block content %}

     <form  method="post" action="">
            <input class="editor" name="content" id="content">
         <button type="submit">提交</button>
    </form>

{% endblock %}
